[flake8]
exclude = .git,__pycache__,.venv,*/.venv,*/site-packages/*,dist,build
# կամ եթե ունես հատուկ ենթափաթեթ՝ data_analytics/.venv
# արդեն ծածկված է */.venv-ով, բայց ցանկության դեպքում կարող ես պահել առանձին էլ
max-line-length = 100
